.greenBlock {
@apply overflow-hidden mt-16 relative grid place-content-center;
background: #00421B;
box-shadow: inset 0px 0px 87.3px -20px rgba(250, 250, 250, 0.25);
border-radius: 22px;
}

.vacancy {
    padding: 17px;
width: 288px;
height: 127px;

background: #FFFFFF;
color: #00421B;
box-shadow: 0px 0px 22.7px -4px rgba(0, 0, 0, 0.25);
border-radius: 16px;

/* position: absolute;
width: 87px;
height: 87px;
left: 581px;
top: 82.52px;

background: #FFAFA8;
transform: rotate(-45deg); */
}